*{margin:0px;padding:0px;}
body{
  background-color: #ffffff;
}
li{list-style: none;}
a{text-decoration: none;}
h1{
  color:#660033;
}
footer{
  position:fixed;
  top:0px;left:0px;width:100%;
  background-color: #660033;
  z-index: 1;
}
header{
  position:fixed;
  bottom:0px;left:0px;width:100%;
  background-color: #ebebeb;
  z-index: 1;
}
.header-list{
  display:flex;
}
.header-list li{
  width:50%;
}
.header-list li a{
  background-color: #ebebeb;
  font-size:40px;
  color:#660033;
  padding:30px 0px;
  text-align:center;
  display:block;
}
.header-list li a:hover{
  background-color: #d6d6d6;
}
.theme{
  font-size:20px;
  text-align:center;
  font-weight:bolder;
  padding:30px 0px;
  color:660033;
}
.content{
  background-color: #ebebeb;
  display:flex;
  width:85%;
  margin:10px auto;
  padding:10px;
  border-radius: 10px;
}
.bus-soon{
  width:50%;
  text-align:center;
  font-size:30px;
  font-weight:900;
}
.bus-soon-desc{
  font-size:20px;
  font-weight:500;
}
.bus-soon p{
  margin:10px 0px;
  color:#550022;
}
.hamburger-menu{
  display:none;
  top:0px;
  right:0px;
  width:50%;
  height:100%;
  position:fixed;
  background-color: #660033;
  opacity:0.8;
  z-index: 2;
}
.hamburger-menu ul li a{
  display:block;
  color:white;
  font-size:20px;
  padding:10px 0px;
}
.hamburger-menu ul li a:hover{
  background-color: #d6d6d6;
}
.button{
  display:block;
  width:20px;height:20px;
  margin:10px auto;
  border-radius:50%;
  color:#660033;
  border: 1px solid #e3e3e3;
}
