*{margin:0px;padding:0px;}
body{
 background-image: url("../img/logo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #660033;
}
li{list-style: none;}
a{text-decoration: none;}
h1{
  color:#fafafa;
}
header{
  position:fixed;
  bottom:0px;left:0px;width:100%;
  background-color: #660033;
  z-index: 1;
}
.header-list{
  display:flex;
}
.header-list li{
  width:50%;
}
.header-list li a{
  background-color: #660033;
  font-size:40px;
  color:#fafafa;
  padding:30px 0px;
  text-align:center;
  display:block;
}
.header-list li a:hover{
  background-color: #741042;
}
.theme{
  font-size:20px;
  text-align:center;
  font-weight:bolder;
  padding:30px 0px;
  color:#fafafa;
}
.content{
  background-color: #ffffff;
  border:2px solid #f9f9f9;
  display:flex;
  width:85%;
  margin:10px auto;
  padding:10px;
  border-radius: 10px;
}
.bus-soon{
  width:50%;
  text-align:center;
  font-size:20px;
  font-weight:bolder;
}
.bus-soon p{
  margin:10px 0px;
  color:#550022;
}
.hamburger-menu{
  display:none;
  top:0px;
  right:0px;
  width:50%;
  height:100%;
  position:fixed;
  background-color: #660033;
  z-index: 2;
}
.hamburger-menu ul li a{
  display:block;
  color:white;
  font-size:20px;
  padding:10px 0px;
}
.hamburger-menu ul li a:hover{
  background-color: #741042;
}