*{margin:0px;}
body{
  background-color: #fafafa;
}
li{list-style: none;}
a{text-decoration: none;}
header{
  background-color: #660033;
}
.header-list{
  display:flex;
  width:80%;
  margin:0 auto;
}
.header-list h1{
  padding:18px 0px;
  color:#fafafa;
}
.header-list li a{
  background-color: #660033;
  font-size:20px;
  color:#fafafa;
  padding:30px 40px;
  display:block;
}
.header-list li a:hover{
  background-color: #741042;
}
.theme{
  font-size:20px;
  text-align:center;
  padding:30px 0px;
}
.content{
  background-color: #ffffff;
  border-left:10px solid #741042;
  border-right:10px solid #741042;
  display:flex;
  width:90%;
  margin:10px auto;
}
.bus-soon{
  width:50%;
  text-align:center;
  font-size:20px;
  font-weight:bolder;
}
.bus-soon p{
  margin:10px 0px;
}